.div-main-background {
    width: 100%;
    height: auto;
    min-height: 100vh;
    /*max-height: 60vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-title {
    display: -webkit-flex; /* Safari */
    display: inline-block;
    margin-left: 9vw;
    margin-top: 40vh;
}

.main-title-text {
    color: white;
    text-align: center;
}
